@model List<AdvertisimentListViewModel>
@using Microsoft.AspNetCore.Identity
@using Ste.Data.Entities

@inject UserManager<CompanyUser> UserManager
@{
    ViewData["Title"] = "Index";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .card {
        float: left;
        margin-left: 25px;
        margin-top: 25px;
        width: 13rem;
    }

    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
</style>

<h1>STE İlanları</h1>


@using (Html.BeginForm(FormMethod.Post))
{
    <p>
        @Html.TextBox("key", null, new { @class = "col-md-8", @placeholder = "Şehir veya bölüm " })
        <button type="submit" class="btn btn-success btn-sm  col-md-1" style="margin-bottom:1rem; margin-top:0.6rem">Ara</button>
    </p>

}


@foreach (var item in Model)
{

    <div class="card">
        <svg class="bd-placeholder-img card-img-top" width="100" height="100" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">@item.JobTitle</text></svg>
        <div class="card-body  ">
            <h5 class="card-title"> @item.City</h5>
            <p class="card-text">@item.JobDesc</p>
            <p class="card-text">Firma: @item.CompanyName </p>
            <a href="/Advertisiment/Get?id=@item.AdvertisimentId " class="btn btn-primary">Detay</a>
        </div>
    </div>


}


